langchain-openai
langchain
python-dotenv
langchain-community
langchain-core
streamlit
langchain-groq
langchain-chroma
langchain-huggingface
arxiv
wikipedia
faiss-cpu
chromadb
sentence_transformers
langchain_huggingface
duckdb
pandas
openai
duckduckgo-search
pymupdf
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured